<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZwHGgIAoNexQQRaoHU7o9HyqM8IK5l2g</string>
	<key>GCM_SENDER_ID</key>
	<string>369464772062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unmissable</string>
	<key>PROJECT_ID</key>
	<string>unmissable-73087</string>
	<key>STORAGE_BUCKET</key>
	<string>unmissable-73087.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369464772062:ios:d527d6a6a1c15855cac94f</string>
</dict>
</plist>